/**
 * Fonts
 */
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src:
		url("/fonts/poppins-v20-latin-400.woff2") format("woff2"),
		url("/fonts/poppins-v20-latin-400.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	src:
		url("/fonts/poppins-v20-latin-600.woff2") format("woff2"),
		url("/fonts/poppins-v20-latin-600.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src:
		url("/fonts/poppins-v20-latin-700.woff2") format("woff2"),
		url("/fonts/poppins-v20-latin-700.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 900;
	src:
		url("/fonts/poppins-v20-latin-900.woff2") format("woff2"),
		url("/fonts/poppins-v20-latin-900.woff") format("woff");
}

/**
 * Variables
 */
:root {
	--font-main: "Poppins", Avenir, Helvetica, Arial, sans-serif;

	--indigo-050: #eef2ff;
	--indigo-100: #e0e7ff;
	--indigo-200: #c7d2fe;
	--indigo-300: #a5b4fc;
	--indigo-400: #818cf8;
	--indigo-500: #6366f1;
	--indigo-600: #4f46e5;
	--indigo-700: #4338ca;
	--indigo-800: #3730a3;
	--indigo-900: #312e81;

	--green-500: #22c55e;
	--red-500: #ef4444;

	--white-rich: #fff;
	--white: #f3f3f5;
	--gray-050: #ededf0;
	--gray-100: #e1e1e6;
	--gray-150: #d2d2da;
	--gray-200: #c3c3ce;
	--gray-300: #a4a6b5;
	--gray-400: #86889d;
	--gray-500: #686a84;
	--gray-600: #585a70;
	--gray-650: #515266;
	--gray-700: #494a5c;
	--gray-750: #414253;
	--gray-800: #393a49;
	--gray-850: #31323f;
	--gray-900: #2a2a35;
	--gray-950: #22222b;
	--black: #15151a;
	--black-rich: #000;
}

/**
 * Reset styles.
 */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;
}

::selection {
	color: var(--white);
	background: var(--indigo-600);
}

a {
	color: var(--white);
	transition: outline 0.24s;
	outline: 1px dotted transparent;
}

a:focus {
	outline: 1px dotted currentColor;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

input,
textarea,
button {
	border: 1px solid gray;
	min-width: 0;
}

button {
	border-radius: 0;
	padding: 0.75em 1em;
	background-color: transparent;
}

/* Easy responsive for media elements */
embed,
iframe,
img,
object,
video {
	display: block;
	max-width: 100%;
}

/* Useful table styles */
table {
	table-layout: fixed;
	width: 100%;
}

/**
 * Base styles.
 */
body {
	font-family: var(--font-main);
	color: var(--gray-800);
	background-color: var(--indigo-400);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	max-width: 100%;
	min-height: 100vh;
	padding-top: 0.5rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@media screen and (min-width: 48em) {
	.app {
		padding-top: 1rem;
	}
}
